
<div class="left">
	<a class="left-a" href="#ceremony">Ceremony</a>
	<a class="left-a" href="#reception">Reception</a>
	<a class="left-a" href="#rehearsal">Rehearsal</a>
	<a class="left-a" href="#welcome-party">Welcome Party</a>
	<a class="left-a" href="#accommodations">Accommodations</a>
	<a class="left-a" href="#transportation">Transportation</a>
	<a class="left-a" href="#bridal-party">Bridal Party</a>
	<a class="left-a" href="#durham">Durham</a>
</div>

<div class="center">
	<header class="header">
		<h1 class="header-title">Brittney+Steve</h1>
		<p class="header-date">are getting married 10.4.14</p>
		<img class="header-img" alt="Steve+Britt" src="original/steve+britt.jpg">
		<p class="header-durham">Durham</p>
		<p class="header-nc">North Carolina</p>
	</header>

	<section id="ceremony">
		<i class="fa fa-heart-o"></i>
		<h2>Ceremony</h2>
		<time>6:00pm</time>
		<h3>Duke Chapel</h3>
		<address>401 Chapel Drive
			Durham, NC 27708</address>
		<p>Please park in the Bryan Center Parking Garage ($2/hour)</p>
		<h3>Bryan Center Parking Garage</h3>
		<address>135 Science Dr
			Duke University West Campus
			Durham, NC 27705</address>
	</section>

	<section id="reception">
		<i class="fa fa-glass"></i>
		<h2>Reception</h2>
		<time>7:15 – 11:15pm</time>
		<p>Cocktail hour followed by dinner &amp; dancing</p>
		<h3>The Cookery</h3>
		<address>1101 W Chapel Hill St
			Durham, NC 27701</address>
		<p>The Cookery does not have its own parking lot, however, there a couple of lots across the street reserved for The Cookery guests as well as street parking.</p>
	</section>

	<section id="rehearsal">
		<i class="fa fa-cutlery"></i>
		<h2>Rehearsal</h2>
		<time>4:30pm Friday 10/3 @ Duke Chapel</time>
		<time>6:00pm Dinner to follow</time>
		<h3>Metro 8 Steakhouse</h3>
		<address>746 9th Street
			Durham, NC 27705</address>
		<p>Bridal party &amp; immediate family only</p>
	</section>

	<section id="welcome-party">
		<i class="fa fa-users"></i>
		<h2>Welcome Party</h2>
		<time>8:30pm Friday 10/3</time>
		<h3>Metro 8 Steakhouse (back patio)</h3>
		<address>746 9th Street
			Durham, NC 27705</address>
		<p>Join us for cocktails after the rehearsal dinner to welcome everyone into town!</p>
	</section>

	<section id="accommodations">
		<i class="fa fa-building"></i>
		<h2>Accommodations</h2>

		<h3>Marriott City Center</h3>
		<address>201 Foster Street
			Durham, NC 27701</address>
		<p><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Pflederer%20Arnold%20Wedding%20Block%5ERDUCV%60PAWPAWA%60125.00%60USD%60false%6010/3/14%6010/5/14%609/3/14&app=resvlink&stop_mobi=yes"><i class="fa fa-external-link"></i> Make reservation</a></p>

		<h3>Hilton Garden Inn</h3>
		<address>2102 West Main Street
			Durham, NC 27705</address>
		<p><a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/R/RDUMCGI-PAWD-20141003/index.jhtml?WT.mc_id=POG"><i class="fa fa-external-link"></i> Make reservation</a></p>
	</section>

	<section id="transportation">
		<i class="fa fa-plane"></i>
		<i class="fa fa-car"></i>
		<h2>Transportation</h2>
		<h3>Raleigh-Durham Airport (RDU)</h3>
		<p>approximately 20-25 minutes from hotels</p>

		<p><a href="http://www.rentalcars.com/us/airport/us/rdu/?affiliateCode=google&cor=us&label=rdu-RCHREPBA9BPRTvdtjMSbiwS22399802868&ws=&gclid=CjkKEQjw_N-cBRD2k73X3OjJ8eMBEiQAbdPic7cahRr19yNqvIyAy_EhKmB0OpnwnojbO3H4K8X6a_fw_wcB"><i class="fa fa-external-link"></i> Rental Cars at RDU</a></p>

		<h3>Shuttle</h3>
		<p>A shuttle service will be provided from both hotels to Duke Chapel, from Duke Chapel to the Cookery and from the Cookery to the hotels following the reception.</p>
	</section>

	<section id="bridal-party">
		<i class="fa fa-male"></i>
		<i class="fa fa-female"></i>
		<h2>Bridal Party</h2>
		<h3>Groomsmen</h3>
		<ul>
			<li>Stevie Pendleton <small>Best man, friend from Oneida</small></li>
			<li>Devin Blessing <small>friend from Oneida</small></li>
			<li>Danny Martin <small>friend from Oneida</small></li>
			<li>Mark Morris <small>friend from Oneida</small></li>
			<li>Kai Pflederer <small>brother of the bride</small></li>
			<li>Jon Silkowski <small>friend from Oneida</small></li>
			<li>Jimmy Smith <small>friend from Oneida</small></li>
		</ul>
		<h3>Bridesmaids</h3>
		<ul>
			<li>Megan Born <small>Matron of Honor, cousin &amp; friend from Tremont</small></li>
			<li>Megan Halverson <small>friend from Tremont</small></li>
			<li>Lauren Hansen <small>friend from Tremont</small></li>
			<li>Amy Jones <small>sister of the groom</small></li>
			<li>Megan Lynch <small>friend from University of Illinois</small></li>
			<li>Sam Onder <small>friend from University of Illinois</small></li>
			<li>Bridget Ripa <small>friend from Duke</small></li>
		</ul>
	</section>

	<section id="durham">
		<i class="fa fa-map-marker"></i>
		<h2>Things to do in Durham</h2>
		<blockquote>Durham is a city full of history and beautiful scenery.</blockquote>
		<ul>
			<li>Walk or run around Duke’s East Campus on the 1.8 mile trail. A short walk from the Hilton Garden Inn.</li>
			<li>Walk or run around Duke’s Faculty Club and Washington Duke Golf Course on a 3 mile wooded trail (Al Buehler Trail) through Duke Forest. Be prepared for some hills!</li>
			<li>Explore Duke’s well known beautiful campus and buildings. Check out the Duke gift shop while you are there.</li>
			<li>Recommended parking in the visitors parking garage, Parking Garage IV, off Science Drive at the Bryan Center (student center) main entrance. This is also the parking garage you will use for the wedding ceremony on Saturday.</li>
			<li>Take a walk around the Sarah P. Duke Gardens, recognized as one of the premier public gardens in the United States. <address>420 Anderson Street
				Durham, NC 27708</address></li>
			<li>Check out the Farmers Market and Food Trucks on Saturday morning. Short walk from the Marriott. <address>501 Foster St
				Durham, NC 27701</address></li>
			<li>Attend a famous Durham Bulls Baseball Game, one of our favorite activities to do in the summer. There are home games on Thursday, Friday, Saturday (nope, you can’t go!) and Sunday. Watch from the patio at Tobacco Road Sports Café, buy tickets at the gate or at the Durham Bulls Website.</li>
			<li>Nightlife and fun areas to check out:<br>
				Brightleaf Square: <a href="http://historicbrightleaf.com">historicbrightleaf.com</a><br>
				American Tobacco District: <a href="http://americantobaccohistoricdistrict.com">americantobaccohistoricdistrict.com</a></li>
				<li>Durham is known for its wonderful food and has been named the “South’s Tastiest Town” by Southern Living. Be sure to check out some our local restaurants.<br><br>
				<strong>Some of our Favorites:</strong><br>
				Elmo’s Diner<br>
				Dame’s Chicken and Waffles<br>
				Blu Seafood and Bar<br>
				Alivias Durham Bistro<br>
				Parker and Otis</li>
		</ul>
		<p>Please contact <a href="mailto:pfledererarnoldwedding@gmail.com">pfledererarnoldwedding@gmail.com</a> with any questions.</p>
	</section>
</div>

<div class="right">
	<h2 class="right-h2"><i class="fa fa-check-square-o"></i> RSVP</h2>
	<a class="right-rsvp" href="http://steveandbritt.rsvpify.com/">steveandbritt.rsvpify.com</a>
	<p>Questions? <a href="mailto:pfledererarnoldwedding@gmail.com">Contact us!</a></p>

	<h2 class="right-h2"><i class="fa fa-gift"></i> Our Registries</h2>
	<a class="right-a bedbb" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?&eventType=Wedding&registryId=541066721">Bed, Bath &amp; Beyond</a>
	<a class="right-a crate" href="http://www.crateandbarrel.com/Gift-Registry/Brittney-Pflederer-and-Steve-Arnold/r5171826">Crate&amp;Barrel</a>
	<a class="right-a macys" href="http://www1.macys.com/registry/wedding/guest/?registryId=6141999">Macy’s</a>

	<h2 class="right-h2"><i class="fa fa-map-marker"></i> Maps</h2>
	<a class="right-a" href="http://www.durham-nc.com/resources/images/maps/dt_tour-map_15x20-trifold_web.pdf">Downtown Durham</a>
	<a class="right-a" href="http://maps.duke.edu/map/index.php?id=21">Campus</a>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="index.js"></script>
