@import "bourbon";
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700|Lusitana|Parisienne");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

@include font-face(StateFaceRegular, "/stateface/stateface-regular-webfont");

//  Helpers

$navy: #246;
$orange: #f90;

$desktop: "(max-width: 1024px)";
$tablet: "(max-width: 768px)";
$phone: "(max-width: 568px)";

//  Reset

* { @include prefixer(box-sizing, border-box, moz spec); }

body { margin: 0; }
h1,
h2,
h3 {
	font-size: 100%;
	margin: 0;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p { margin: 0; }
a { background: initial; }
address,
i { font-style: normal; }
img {
	border: 0;
	vertical-align: top;
}
button,
input,
textarea {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	margin: 0;
}
button {
	background: 0;
	border: 0;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: inherit;
	@include transition(.3s);
}
input { line-height: normal; }
textarea {
	overflow: auto;
	resize: none;
	vertical-align: top;
}

:disabled { cursor: default; }
[hidden] { display: none; }
